PORT=5020
BOOKING_SERVICE_URL=https://dev-eats.centralindia.cloudapp.azure.com
PROMOTIONAL_SERVICE_URL=https://dev-eats.centralindia.cloudapp.azure.com/api/v1/promotional
CATALOGUE_SERVICE_BASE_URL=https://dev-eats.centralindia.cloudapp.azure.com/api/v1/catalogue
INTERNAL_API_KEY=internal-api-key-1224
